*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.topHeader{
    display: flex;
    justify-content: space-between;
    padding: 15px 18px 15px 18px;
    background: #772D8B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text{
    display: flex;
}

.links{
    margin-right: 16px;
}

.join{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: #FFC42D;
    width: 330px;
    margin-right: 26px;
}

.find{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: #FFFFFF;
    width: 100px;
}

.mobile{
    display: none;
}

.topMain{
    background-image: url(./assets/background\ \(1\).svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.subHeader{
    display: flex;
    justify-content: space-between;
    padding: 24px 18px 0px 18px;
    background: rgba(0, 0, 0, 0.26);
    border: 1px solid #000000;
}

.logoimage img{
    position: relative;
    bottom: 20px;
}

.needGroup{
    display: flex;
}

.help{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: #FFFFFF;
}

.number{
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 26px;
    /* identical to box height */
    color: #FFC42D;
}

.navigation{
    text-align: center;
}

.navigation ul{
    display: flex;
    list-style: none;
}

.navigation li{
    margin-right: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.nav{
    position: relative;
    top: 8px;
}

.request-btn{
    padding: 7.5px 0px;
    width: 137px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: #FFFFFF;
    background: #EE2B7A;
    border-radius: 5px;
    border: none;
}


.space{
    display: flex;
    justify-content: space-between;
    padding: 0px 68px 0px 0px;
}

.services{
    padding: 122px 0px 226px 68px;
    font-style: normal;
    font-weight:100;
    font-size: 50px;
    line-height: 154.7%;
    /* or 102px */
    color: #FFFFFF;
    width: 711px;
}

.provide{
    font-weight: bold;
}

.form{
    background: rgba(55, 55, 55, 0.79);
    border-radius: 5px;
    padding: 18px 38px 0px 35px;
    margin: 92px 0px 0px 0px;
    width: 340px;
    height: 365px;
}

.login{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 154.7%;
    /* identical to box height, or 28px */
    color: #FFFFFF;
    padding: 0px 0px 24px 0px;
}

.username{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: #848484;
    padding: 12px 0px 14px 19px;
    width: 267px;
    margin-bottom: 19px;
}

.password{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: #848484;
    padding: 12px 0px 14px 19px;
    width: 267px;
    margin-bottom: 10px;
}

.forgetPassword{
    /* float: right; */
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #B6C4DA;
    margin: 0px 0px 40px 0px;
}

.login-btn{
    background: #EE2B7A;
    border-radius: 4px;
    border: none;
    text-align: center;
    padding: 13px 0px 13px 0px;
    width: 267px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: #FFFFFF;
    margin-bottom: 18px;
}

.account{
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #F8F5F5;
}

.signUp{
    color: #EE2B7A;
}

.main{
    display: flex;
    justify-content: space-between;
    padding: 48px 63px 87px 68px;
}

.aboutAxet{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 154.7%;
    /* identical to box height, or 22px */
    text-transform: uppercase;
    color: #995AAA;
}

.whoWeAre{
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 154.7%;
    /* identical to box height, or 62px */
    color: #474747;
    padding: 0px 0px 11px 0px;
}

.para1{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 154.7%;
    /* or 22px */
    color: #000000;
    padding: 0px 0px 18px 0px;
    width: 476px;
}

.para2{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 154.7%;
    /* or 22px */
    color: #000000;
    width: 476px;
}

.servicesProvide{
    padding: 0px 0px 100px 0px;
    text-align: center;
}

.provideServices{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 154.7%;
    /* identical to box height, or 22px */
    text-transform: uppercase;
    color: #995AAA;
}

.ourServices{
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 154.7%;
    /* identical to box height, or 62px */
    color: #474747;
}

.servicesProvideCard{
    display: flex;
    padding: 0px 63px 144px 68px;
}

.card{
    background: #FFFFFF;
    box-shadow: 2px 4px 26px rgba(0, 0, 0, 0.07);
    padding: 29px 15px 10px 12px;
    width: 271px;
    margin-right: 20px;
}

.middle{
    text-align: center;
    margin-bottom: 76px;
}

.cardH2{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 154.7%;
    /* identical to box height, or 28px */
    color: #565656;
    text-align: center;
    margin-bottom: 26px;
}

.cardPara{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 154.7%;
    /* or 22px */
    color: #000000;
    width: 244px;
    margin-bottom: 50px;
}

.bg-background{
    background-image: url(./assets/work-flow.svg);
    background-repeat: no-repeat;
    padding: 29px 0px 96px 0px;
    text-align: center;
    mix-blend-mode: lighten;
}

.workFlow{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 154.7%;
    /* identical to box height, or 22px */
    color: #D2CECE;
}

.howItWorks{
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 154.7%;
    /* identical to box height, or 62px */
    color: #FFFFFF;
    margin-bottom: 19px;
}

.location{
    display: flex;
    justify-content: space-evenly;
}

.middleSecond{
    text-align: center;
}

.pickH2{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 154.7%;
    /* identical to box height, or 28px */
    color: #FFFFFF;
    padding: 23px 0px 13px 0px;
    text-align: center;
}

.smallPara{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 154.7%;
    /* or 22px */
    text-align: center;
    color: #FFFFFF;
    width: 204px;
    text-align: center;
}

.testimonial{
    padding: 55px 0px 164px 0px;
    text-align: center;
}

.testimonialH2{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 154.7%;
    /* identical to box height, or 22px */
    color: #995AAA;
}

.happyClients{
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 154.7%;
    /* identical to box height, or 62px */
    color: #474747;
}

.spaceTwo{
    display: flex;
    justify-content: space-evenly;
    padding: 63px 0px 0px 0px;
}

.card2{
    background: #FFFFFF;
    border: 1px solid #F9F9F9;
    box-shadow: 13px 24px 44px rgba(0, 0, 0, 0.07);
    width: 324px;
    height: 377px;
}

.middleThird{
    text-align: center;
    padding-top: 38px;
}

.card2Para{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 154.7%;
    /* or 22px */
    text-align: center;
    color: #000000;
    padding: 35px 45px 62px 35px;
}

.newsMain{
    padding: 0px 0px 20px 0px;
}

.newsTop{
    margin-bottom: 30px;
    text-align: center;
}

.news{
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 154.7%;
    /* identical to box height, or 62px */
    color: #474747;
}

.newsPara{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 154.7%;
    /* or 22px */
    color: #000000;
}

.newsThings{
    display: flex;
    justify-content: space-evenly;
}

.cardThree{
    text-align: center;
}

.groupImage{
    text-align: center;
}

.constructionHeading{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 154.7%;
    /* identical to box height, or 28px */
    color: #565656;
    padding: 23px 0px 13px 0px;
    /* width: 284px; */
}

.constructionSubheading{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 154.7%;
    /* or 22px */
    text-align: center;
    color: #000000;
    padding: 0px 0px 13px 0px;
    width: 362px;
}

.readMore-btn{
    background: #EE2B7A;
    border-radius: 5px;
    width: 137px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: #FFFFFF;
    border: none;
    padding: 8px 0px;
    margin-bottom: 150px;
}

.bgImage2{
    background-image: url(./assets/truck.png);
    background-repeat: no-repeat;
    text-align: center;
    padding: 70px 0px 152px 0px;
    background-size: cover;
}

.industryHeading{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 154.7%;
    /* or 62px */
    color: #FFFFFF;
    margin-bottom: 40px;
}

.industrySubheading{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 154.7%;
    /* identical to box height, or 22px */
    color: #FFFFFF;
    padding: 20px 0px 0px 0px;
}

.clientsList{
    padding: 37px 0px 200px 0px;
    text-align: center;
}

.ourClientsList{
    padding: 0px 0px 37px 0px;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 154.7%;
    /* identical to box height, or 62px */
    color: #474747;
}

.clientImage img{
    width: 100%;
}

footer{
    display: flex;
    justify-content: space-evenly;
    background: #333333;
    padding: 50px 0px 56px 0px;
}

.footerHeading{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 154.7%;
    /* identical to box height, or 28px */
    color: #FFFFFF;
}

.contactInfo{
    display: flex;
}

.footerSubheading{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 154.7%;
    /* or 22px */
    color: #FFFFFF;
    width: 273px;
    padding-top: 19px;
}

.contactSpace{
    margin-right: 18px;
}

.addressPara{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 154.7%;
    /* or 22px */
    color: #FFFFFF;
    width: 242px;
    padding: 19px 0px 16px 0px;
}

.footerNav li{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 252.7%;
    /* or 35px */
    color: #FFFFFF;
    margin-bottom: 10px;
    width: 201px;
    list-style: none;
}

.footerhome{
    padding: 19px 0px 0px 0px;
}


.footerSubheading2{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 154.7%;
    /* or 22px */
    color: #FFFFFF;
    width: 273px;
    padding: 19px 0px 0px 0px;
}

.footerSubheading3{
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 154.7%;
    /* or 22px */
    color: #FFFFFF;
    width: 273px;
    padding: 0px 0px 20px 0px;
}

.footerTab{
    padding: 12px 0px 12px 0px;
}

.footerPara{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 154.7%;
    /* or 22px */
    color: #474747;
    text-align: center;
}


@media only screen and (max-width: 375px) {

.topHeader{
    flex-wrap: wrap;
    width: 100%;
}

.text{
    flex-wrap: wrap;
    width: 100%;
}

.needGroup{
    flex-wrap: wrap;
}

.nav{
    display: none;
}

.request-btn{
    display: none;
}

.mobile{
    display: flex;
    margin-top: 5px;
}

.subHeader{
    padding: 24px 18px 0px 0px;
}

.space{
    flex-wrap: wrap;
}

.services{
    padding: 40px 0px 0px 0px;
    font-size: 30px;
    text-align: center;
    width: 370px;
    margin-left: auto;
    margin-right: auto;
}

.form{
    background: rgba(55, 55, 55, 0.79);
    border-radius: 5px;
    padding: 18px 38px 0px 35px;
    margin: 40px 0px 0px 18px;
    width: 340px;
    height: 365px;
}

.main{
    flex-wrap: wrap;
    padding: 40px 18px 87px 18px;
}

.para1{
    width: 335px;
}

.para2{
    width: 335px;
    margin-bottom: 40px;
}

.lightThing img{
    width: 100%;
}

.servicesProvideCard{
    flex-wrap: wrap;
    padding: 0px 63px 144px 18px;
    text-align: center;
}

.card{
    background: #FFFFFF;
    box-shadow: 2px 4px 26px rgba(0, 0, 0, 0.07);
    padding: 29px 15px 10px 12px;
    text-align: center;
    margin-bottom: 20px;
    width: 324px;
    margin-left: 40px;
}

.bg-background{
    padding: 10px 0px 10px 0px;
    background-size: 3000px;
}


.howItWorks{
    font-size: 40px;
    line-height: 154.7%;
}

.location{
    flex-wrap: wrap;
}

.pickH2{
    text-align: center;
    padding: 5px 0px 10px 0px;
}

.smallPara{
    margin-bottom: 5px;
}

.spaceTwo{
    flex-wrap: wrap;
    padding: 63px 0px 0px 0px;
}

.card2{
    margin-bottom: 20px;
}

.groupImage img{
    width: 100%;
}

.newsThings{
    flex-wrap: wrap;
}

.readMore-btn{
    padding: 8px 0px;
    margin-bottom: 40px;
}

.bgImage2{
    background-image: url(./assets/truck.png);
    background-repeat: no-repeat;
    text-align: center;
    padding: 10px 0px 152px 0px;
    background-size: cover;
}

footer{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px 56px 0px;
}
.nav2{
    margin-right: 75px;
    margin-top: 10px;
}
}